<template>
    <div>
        <hr>
        <p><label><input type="checkbox" v-bind:checked="isButtonDisabled" @click="isButtonDisabled = !isButtonDisabled"> Disable button 1</label></p>
        <p><label><input type="checkbox" v-bind:checked="isButtonDisabled" @click="disableButton()"> Disable button 2</label></p>
        <p><button v-bind:disabled="isButtonDisabled">Button</button></p>
        <hr>
        <ul>
            <li v-for="(country, index) in countryData.countries" :key="index">
                <img width="100" :src="getFlagUrl(country.img)" :alt="country.img"><br>
                {{ country.name|uppercase|trim(3) }}
                {{ country.cost|currency('EUR') }}
            </li>
        </ul>
    </div>
</template>

<script>
    import countryData from '@/mockdata/CountryData'
    import mediaMixin from '@/mixins/media';

    export default {
        name: 'Directives',
        mixins: [mediaMixin],
        data() {
            return {
                isButtonDisabled: false,
                countryData,
            }
        },
        methods: {
            disableButton() {
                this.isButtonDisabled = !this.isButtonDisabled;
            }
        }
    }
</script>

<style scoped>
    ul {
        text-align-last: left;
    }
</style>