<template>
    <form @submit="prepareSubmit" novalidate="true">
        <div v-for="(field, index) in fields" :key="index">
            <label :for="field.name">{{ field.title }} <sup v-if="field.required && (!options || !options.hideRequired)">*</sup></label><br />
            
            <input v-if="field.group === 'default'" v-model="model[field.name]" :id="field.name" :type="field.type" :required="field.required" />

            <div v-if="field.group === 'multiple'">
                <label v-for="(childField, childIndex) in field.children" :key="childIndex">
                    <input :type="field.type" v-model="model[field.name]" :value="childField.value" :required="field.required">
                    {{ childField.title }}
                </label>
            </div>

            <div v-if="field.group === 'select'">
                <select v-model="model[field.name]" :required="field.required">
                    <option v-for="(childField, childIndex) in field.children" :value="childField.value" :key="childIndex">
                        {{ childField.title }}
                    </option>
                </select>
            </div>
                
            <textarea v-if="field.group === 'textarea'" v-model="model[field.name]" :id="field.name" :required="field.required" />

            <div v-show="field.invalid">Dit veld is verplicht.</div>
        </div>

        <div>
            <button type="submit">Verzenden</button>
        </div>
    </form>
</template>

<script>
    export default {
        name: 'Form',
        props: ['model', 'fields', 'onSubmit', 'options'],
        methods: {
            prepareSubmit(event) {
                event.preventDefault();

                // if(this.validate()) {
                    this.onSubmit(this.model);
                // }
            },
            validate() {
                const requiredFields = this.fields.filter(field => field.required === true);
                let isFormValid = true;
                
                requiredFields.forEach(field => {
                    const isFieldValid = this.hasFieldContent(field)
                    isFormValid = isFormValid === true ? isFieldValid : false;
                });

                return isFormValid;
            },
            hasFieldContent(field) {
                if(this.model[field.name].length > 0) {
                    field.invalid = false;
                }

                field.invalid = true;

                return !field.invalid;
            },
        },
    }
</script>

<style scoped>
form > div {
    margin: 30px;
}
textarea {
    font-family: sans-serif;
}
</style>