<template>
    <div>
        <ol>
            <li><strong>Components</strong>.</li>
            <li><strong>Directives</strong>.</li>
            <li><strong>Filters</strong>.</li>
            <li><strong>Mixins</strong>.</li>
            <li><strong>Forms</strong>.</li>
            <li><strong>Props</strong> typing and validation / one-way communication with child.</li>
            <li><strong>Custom events</strong> communication with parent.</li>
            <li>Reusing code with <strong>Slots</strong>.</li>
            <li>Routing. Plugin: <strong>Vue router</strong></li>
            <li>State management. Plugin: <strong>vuex</strong></li>
            <li>Ajax calls. Plugin: <strong>Axios</strong></li>
        </ol>
    </div>
</template>

<script>
    export default {
        name: 'Goals',
    }
</script>

<style scoped>
    ol, ul {
        max-width: 400px;
        text-align: left;
        margin: 50px auto;
        line-height: 1.5em;
    }
    ol li, ul li {
        padding-left: 5px;
    }
    strong {
        color: #42b983;
    }
</style>