<template>
    <div>
        <img height="20" alt="Vue logo" :src="getImageUrl('logo.png')">
        <h1>{{ title }}</h1>
        <em v-if="subTitle">{{ subTitle }}</em>
    </div>
</template>

<script>
    import mediaMixin from '@/mixins/media';

    export default {
        name: 'Header',
        mixins: [mediaMixin],
        props: {
            title: {
                required: true,
                // This custom validator checks if title is not ''
                validator: (value) => {
                    return [''].indexOf(value) === -1;
                }
            },
            subTitle: String,
        }
    }
</script>
