<template>
    <div class="signinbox__wrapper" v-if="user.email">
        <div class="signinbox">
            <div class="signinbox__avatar"><img width="30" height="30" :src="getImageUrl('avatar.jpg')" alt="Avatar"></div>
            <div class="signinbox__name">{{ user.email }}</div>
            <button @click="signout" class="signinbox__action">Logout</button>
        </div>
    </div>
</template>

<script>
    import mediaMixin from '@/mixins/media';

    export default {
        name: 'SignInBox',
        mixins: [mediaMixin],
        computed: {
            user() {
                return this.$store.getters['user/getUser']
            }
        },
        methods: {
            signout: function() {
                this.$store.dispatch('user/unsetUser');
            },
        },
    }
</script>

<style scoped>
    .signinbox__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }
    .signinbox {
        display: flex;
        align-content: center;
        height: 40px;
        padding: 4px;
        border-bottom-left-radius: 6px;
        background: #42b983;
        color: #fff;
    }

    .signinbox__avatar img {
        border-radius: 50%;
    }

    .signinbox__name,
    .signinbox__action {
        padding: 8px;
        font-size: 14px;
    }

    .signinbox__action {
        border: none;
        font-weight: bold;
        color: #fff;
        background: transparent;
        outline: none;
        cursor: pointer;
    }
    .signinbox__action::-moz-focus-inner  {
        border: 0;
        padding: 0;
    }
</style>