* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button {
    padding: 8px 12px;
    border: 0;
    border-radius: 2px;
    font-weight: 600;
    color: #fff;
    background: #42b983;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

button:hover {
    background: #2c3e50;
}