<template>
  <div>
    <Header title="Directives"/>
    <Directives/>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Directives from '@/components/Directives.vue'

export default {
    name: 'directives',
    components: {
        Directives,
        Header
    }
}
</script>
