<template>
  <div>
    <Header title="Forms"/>
    <div class="forms">
        <Form v-if="formModel && formFields && formFields.length" :model="formModel" :fields="formFields" :onSubmit="onSubmit" />
        <pre>{{ formModel }}</pre>
  </div>
  </div>
</template>

<script>
import axios from 'axios'
import formData from '../mockdata/FormData';
import vueTypes from 'vue-types'
import Header from '@/components/Header.vue'
import Form from '@/components/Form.vue'

export default {
    name: 'Forms',
    components: {
        Header, Form
    },
    data: function() {
        return {
            formData: formData,
            apiEndpoint: vueTypes.string.isRequired, // Add typing and validation
            formModel: {},
            formFields: [],
        };
    },
    mounted() {
        this.api = axios.create({
            baseURL: this.apiEndpoint,
            headers: {'Access-Control-Allow-Origin': '*'},
        })
        this.getForm()
    },
    methods: {
        getForm() {
            this.api
                .request({
                    method: 'post',
                    url: 'http://www.mocky.io/v2/5dc06b3f310000a6ecbe411b'
                })
                .then(data => {
                    // Get data
                    this.formModel = data.formModel;
                    this.formFields = data.formFields;

                    // Actually... use mockdata instead
                    this.formModel = this.formData.formModel;
                    this.formFields = this.formData.formFields;
                }, error => {
                    console.error('Error during getForm(): ', error.message);
                });
        },
        onSubmit: function(model) {
            this.api
                .request({
                    method: 'post',
                    url: 'http://www.mocky.io/v2/5dc06b3f310000a6ecbe411b',
                    data: model,
                })
                .then(() => {
                    this.$router.push('/forms-verzonden');
                }, error => {
                    console.error('Error during onSubmit(): ', error.message);
                });
        },
    },
}
</script>

<style scoped>
.forms {
    display: flex;
}
.forms form,
.forms pre {
    width: 50%;
    text-align-last: left;
}
</style>