<template>
  <div>
    <Header title="Forms"/>
    <p>Je gegevens zijn succesvol verzonden.</p>
    <p><router-link to="/forms">Terug naar Forms</router-link></p>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'

export default {
    name: 'FormSubmitted',
    components: {
        Header
    },
}
</script>