<template>
  <div>
    <Header title="Home" subTitle="A place to find Vue code snippets" />
    <Goals/>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Goals from '@/components/Goals.vue'

export default {
    name: 'home',
    components: {
        Header,
        Goals
    }
}
</script>
