<template>
  <div>
    <Header title="Inloggen" />
    <Form v-if="!user.email && formModel && formFields && formFields.length" :model="formModel" :fields="formFields" :onSubmit="onSubmit" :options="{hideRequired: true}" />
    <p v-if="user.email">Je bent nu ingelogd.</p>
  </div>
</template>

<script>
import axios from 'axios'
import Header from '@/components/Header.vue'
import Form from '@/components/Form.vue'

export default {
    name: 'signin',
    components: {
        Header,
        Form,
    },
    data: function() {
        return {
            loggedIn: false,
            formModel: {
                email: '',
                password: '',
            },
            formFields: [
                {group: 'default', type: "email", name: "email", title: 'E-mailadres', required: true},
                {group: 'default', type: "password", name: "password", title: 'Wachtwoord', required: true},
            ],
        };
    },
    mounted() {
        this.api = axios.create({
            baseURL: this.apiEndpoint,
            headers: {'Access-Control-Allow-Origin': '*'},
        })
    },
    computed: {
        user() {
            console.log(this.$store.getters['user/getUser']);
            return this.$store.getters['user/getUser']
        }
    },
    methods: {
        onSubmit: function(model) {
            if (model.email !== '' && model.password !== '') {
                this.setUser(model);

                this.formModel = {email: '', password: ''}
            }
        },

        setUser(model) {
            const userModel = {
                id: 0,
                email: model.email,
                password: model.password,
            }
            this.api
                .request({
                    method: 'post',
                    url: 'http://www.mocky.io/v2/5dc06b3f310000a6ecbe411b',
                    data: userModel,
                })
                .then(() => {
                    this.$store.dispatch('user/setUser', userModel);
                }, error => {
                    console.error('Error during onSubmit(): ', error.message);
                });
        },

        
    },
}
</script>