<template>
  <div id="app">
    <SignInBox/>
    <div class="bello"></div>
    <div id="nav">
      <!-- TODO: routes en menu tegelijkertijd genereren -->
      <router-link to="/">Home</router-link> |
      <router-link to="/directives">Directives</router-link> |
      <router-link to="/forms">Forms</router-link> |
      <router-link to="/signin">Sign in (Vuex)</router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
import SignInBox from '@/components/SignInBox.vue'

export default {
    name: 'app',
    components: {
        SignInBox,
    }
}
</script>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 60px 30px 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}

.bello {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 0;
    height: 0;
    margin-bottom: 10px;
    border-bottom: 64px solid #bbb;
    border-left: 64px solid transparent;
    transition: 0.25s all ease-in-out;
}
.bello:before {
    content: '';
    display: block;
    position: absolute;
    left: -51px;
    top: 13px;
    width: 38px;
    height: 13px;
    border-top: 13px solid #bbb;
    border-bottom: 13px solid #bbb;
    transition: 0.25s border-color ease-in-out;
}
.bello:hover {
    background: #bbb;
    border-bottom-color: transparent;
}
.bello:hover:before {
    border-color: #fff;
    width: 13px;    border-top: 0;
    border-bottom: 0;
    border-left: 13px solid #f00;
    border-right: 13px solid #f00;
    transition:
        0.25s border-top ease-in-out,
        0.25s border-left ease-in-out,
        0.75s border-color cubic-bezier(.4,.2,.2,1),
        0.75s border-left cubic-bezier(.4,.2,.2,1),
        0.75s border-right cubic-bezier(.4,.2,.2,1),
        0.75s width cubic-bezier(.4,.2,.2,1);
}
</style>
